.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  color: white;
  text-align: center;
}

.App .Container {
  max-width: 1024px;
}

.App .Result {
  text-align: left;
  color: white;
}

.App .Result .Value {
  background-color: darkslategray;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
